<div class="modal fade" id="contactUsModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Contact Us</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if successMessage is not null %}
                    <div class="alert alert-success" role="alert">
                        {{ successMessage }}
                    </div>
                {% else %}
                    {{ form_start(form, {method: 'POST', action: path('app_contact_us')}) }}
                    {{ form_errors(form) }}
                    <div class="mb-3">
                        {{ form_row(form.name, {'label': 'Name', 'attr': {'class': 'form-control', 'id': 'recipient-name'}}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.email, {'label': 'Email', 'attr': {'class': 'form-control', 'id': 'recipient-email'}}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.subject, {'label': 'Subject', 'attr': {'class': 'form-control', 'id': 'recipient-subject'}}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.message, {'label': 'Message', 'attr': {'class': 'form-control', 'id': 'recipient-message'}}) }}
                    </div>
                    {{ form_rest(form) }} 
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Send message</button>
                    </div>
                    {{ form_end(form) }}
                {% endif %}

            </div>

        </div>
    </div>
</div>

<script src="{{ asset('js/contact-form.js') }}"></script>
